<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <style>
        .list-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top : 20%;
        }
    </style>

    <script>

    </script>
    <title>blockchain</title>
</head>

<body>
    <ul class="list-group" id="list">
        <li class="list-group-item" aria-current="true">AES-128(CTR, Encryption) - <a href="/chart/ctr/e">CHART</a> / <a href="/json/ctr/e">JSON</a></li>
        <li class="list-group-item">AES-128(CTR, Decryption) - <a href="/chart/ctr/d">CHART</a> / <a href="/json/ctr/d">JSON</a></li>
        <li class="list-group-item">AES-128(CBC, Encryption) - <a href="/chart/cbc/e">CHART</a> / <a href="/json/cbc/e">JSON</a></li>
        <li class="list-group-item">AES-128(CBC, Decryption) - <a href="/chart/cbc/d">CHART</a> / <a href="/json/cbc/d">JSON</a></li>
        <li class="list-group-item">AES-128(CTR, CBC DB Test) - <a href="/db/ctr">CTR</a> / <a href="/db/cbc">CBC</a></li>
        <li class="list-group-item">실시간으로 계산해서 Chart or Json 으로 뿌리는 것도 구현하긴 했음(필요하면 올려둠)</li>
    </ul>
</body>

</html>